* {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  background-color: var(--very-dark-blue);
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Outfit", sans-serif;
}
