* {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  /* background-color: var(--very-dark-blue); */
  background-color: black;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Outfit", sans-serif;
  height: 100vh;
}

.rating-component {
  /* background-color: var(--very-dark-blue); */
  background: linear-gradient(to top, var(--very-dark-blue), var(--dark-blue));
  padding: 30px;
  width: 320px;
  margin-inline: auto;
  border-radius: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.icon-background {
  margin-bottom: 20px;
}

.icon-background,
.rating-background {
  background-color: var(--dark-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-background {
  color: var(--light-grey);
}

.ratings {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.rating {
  display: inline-block;
}

.rating-background:hover {
  transition: all 0.3s ease-in;
  background-color: var(--orange);
  color: white;
}

h1 {
  color: white;
  margin-bottom: 10px;
}

p {
  color: var(--light-grey);
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.btn-submit {
  border: none;
  background-color: var(--orange);
  width: 100%;
  color: #fff;
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 25px;
}

.btn-submit:hover {
  transition: all ease-out 0.3s;
  background-color: white;
  color: var(--orange);
}
