* {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  /* background-color: var(--very-dark-blue); */
  background-color: black;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Outfit", sans-serif;
  height: 100vh;
}

.container {
  background: linear-gradient(to top, var(--very-dark-blue), var(--dark-blue));
  padding: 30px;
  width: 320px;
  height: 325px;
  margin-inline: auto;
  border-radius: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* rating component */

.rating-component {
  opacity: 1;
}

.thank-you-component {
  display: none;
  opacity: 0;
}

.icon-background {
  margin-bottom: 20px;
}

.icon-background,
.rating-background {
  background-color: var(--dark-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-background {
  color: var(--light-grey);
}

.ratings {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.rating {
  display: inline-block;
}

.rating-background:hover {
  transition: all 0.3s ease-in;
  background-color: var(--orange);
  color: white;
}

.rating-background.clicked {
  background-color: var(--medium-grey);
  color: #fff;
}

h1 {
  font-weight: 400;
}

.rating-component h1 {
  color: white;
  margin-bottom: 10px;
}

.rating-component p {
  color: var(--light-grey);
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn-submit {
  border: none;
  background-color: var(--orange);
  width: 100%;
  color: #fff;
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 25px;
}

.btn-submit:hover {
  transition: all ease-out 0.3s;
  background-color: white;
  color: var(--orange);
}

/* Thank you component */

.thank-you-component {
  text-align: center;
}

.illustration-thank-you {
  padding-top: 10px;
  margin-bottom: 20px;
}

.user-select-background {
  /* padding: 5px 20px; */
  border-radius: 20px;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 0px 20px;
  height: 25px;

  margin: 0px auto 30px auto;
}

.user-select {
  color: var(--orange) !important;
  padding: 0 !important;
  margin: 0;
}

.thank-you-component h2 {
  color: #fff;
  margin-bottom: 10px;
  font-weight: 400;
}

.thank-you-component p {
  color: var(--light-grey);
  padding-bottom: 10px;
}

@media (max-width: 375px) {
  .container {
    width: 275px;
    padding: 20px;
    height: 310px;
  }

  .ratings {
    gap: 15px;
    margin-bottom: 25px;
  }

  .rating-component p {
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 25px;
  }

  .user-select-background {
    margin-bottom: 20px;
  }

  .user-select {
    color: var(--orange) !important;

    /* display: inline-block; */
  }

  .thank-you-component p {
    font-size: 14px;
  }
}
